<!doctype html>
<html>
   <head>
     <style type="text/css">
       primary-footer{margin-top:10px;}
       .footer-wrap{ background:#1a202c;padding-top:50px; margin-top:50px; padding-bottom:50px;}
       .footer .panel{float:left; background:none; width:300px;}
       .footer .panel .title h1{ color:#ffffff;}
       .footer .panel .content{padding-top:25px;}
       .footer .panel .content p{ color:#435059;}
       .footer .panel .content .button a{ margin-top:30px; background:#d13f31;}
       .footer .panel .content .button a:hover{ margin-top:30px; background:#1f7872;}
       .footer .panel .content ul li{ list-style:url(/flavordb/static/images/arrow.png) inside;}
       .footer .panel .content ul li a{text-decoration:none; color:#435059;}
       .footer .panel .content ul li a:hover{color:#d13f31;}
       .copyright-wrap{ background:#1f7872; overflow:hidden; padding:40px 0px 40px 0px;}
       .copyright-wrap .panel{margin:0 auto; background:none;}
       .copyright-wrap .panel .content p{ color:#ffffff; text-align:center; font-size:12px;}
       .copyright-wrap .panel .content p a{ text-decoration:none; color:#ffffff;}
       .copyright-wrap .panel .content p a:hover{ color:#1a202c;}
       #more {display: none;}
       .carousel img {
         max-height:200px !important;
         width: auto !important;
       }



     </style>
             <link rel="shortcut icon" href="/recipedb/static/media/favicon.ico" />

   </head>
   <body>
      {% extends 'nav.html' %}
      {% block content %}


      <div class = "container">
        <div class="row">
          <div class="col s12">
            <div class="card blue-grey lighten-5">
              <div class="card-content black-text">
                <span class="card-title"><b><h4><strong><center>RecipeDB 101</center></strong></h4></b></span>
                <h6><center>A guide to using this resource and its features</center></h6>

              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">

           <ul class="tabs tab-demo z-depth-1">
          <li class="tab col s2"><a class="active" href="#test1">Overview</a></li>
          <li class="tab col s2"><a class="active" href="#test2">Visual Search</a></li>
          <li class="tab col s2"><a class="active" href="#test3">Recipe Search</a></li>
          <li class="tab col s3"><a class="active" href="#test4">Advanced Search</a></li>
          <li class="tab col s3"><a class="active" href="#test5">RecipeDB Statistics</a></li>
        </ul>
        </div>
        <!-- <div class="container"> -->
          <div class="row">

              <div id="test1" class="col s12">
                <div class="row">
                  <h5>RecipeDB Overview</h5>
                    <div class="col s12 m6">

                        <blockquote>
                            <p>
                    Cooking is the act of turning nature into the culture which has enabled the advent of the omnivorous human diet. The cultural wisdom of processing a variety of raw ingredients into delicious dishes is embodied in their cuisines. Recipes thus are the cultural capsules that encode elaborate cooking protocols for evoking sensory satiation. As we stand on the verge of an epidemic of diet-linked disorders (such as obesity, type II diabetes and cardiac diseases), it is eminently important to investigate the culinary correlates of diet to probe their association with sensory responses as well as consequences for nutrition and health.
                </p>
                <p>
                    RecipeDB is a structured compilation of recipes, ingredients, nutrition profiles interlinked with flavor profiles, and health associations. The repertoire comprises of meticulous integration of over 1,18,000 recipes from cuisines across the globe (6 continents, 26 geo-cultural regions, and 74 countries), cooked using 268 processes (heat, cook, boil, simmer, bake, etc.), by blending over 8700 ingredients from diverse categories, which are further linked to their flavor molecules (FlavorDB), nutritional profiles (USDA) and empirical records of disease associations obtained from Medline (DietRx). This resource is aimed at facilitating scientific explorations of the culinary space (recipe, ingredient, cooking processes, dietary styles, etc.) to taste attributes (flavor profile) and health (nutrition and disease associations) seeking for divergent applications.
                </p>
                <p>Acknowledgement: The team thanks <a href="https://tagtog.net">TagTog</a> for their support. We used the tagtog platform in order to tag the Named Entities for the project without which the nutrition estimation would not have been possible.</p>
                        </blockquote>
                    </div>
                    <div class="col s12 m6">
                        <img style="max-height: 100%; max-width: 100%;" src="../recipedb/static/sect1.png" class="responsive-img" alt="">
                    </div>
                </div>
              </div>
              <div id="test3" class="col s12">

                <div class="row"><blockquote>
                  <h5>RecipeDB Search</h5>
                <p>RecipeDB facilitates an elastic search to query recipes based on cuisine (geographical location of origin), ingredients used/not used, dietary classifications (vegan, vegetarian, vegetarian but not vegan, etc.) and nutritional profile (amount of energy, carbohydrates, etc.).
                Each search option allows the user to use any combination of the search parameters in their queries. All search boxes come with an autocomplete option to assist the user with any query containing a string with two or more characters typed, greatly enabling the user’s ability to explore the database.
                In case the user is not looking for anything specific, they can hit the ‘Submit’ button without providing any specific query. This will yield a result showing a list of all the recipes in RecipeDB.
                In case the user would like to filter the database using a more nuanced list of constraints, clicking on the ‘Advanced’ button will reveal a host of more parameters to query from.
              </p></blockquote></div>

              <div class="row"><div class="col s12" style="border-top:2px solid #ee6e73; padding-top:15px;">
                <h5>Cuisine Search</h5>
              </div>
              <div class="col s12 m6">

                  <blockquote>
                  <p>RecipeDB is a resource with extensive coverage of over 100,000 recipes and approximately 2000 ingredients across over 22 world regions. It offers a user-friendly interface for querying and browsing through recipes. Data visualizations and interlinked search options are provided to retrieve relevant information. It intends to enable data-driven explorations of recipes. It facilitates multi-level analysis of traditional recipes (recipes, categorical classifications, ingredient composition).
                  </p>
                  </blockquote>
              </div><br>
              <div class="col s12 m6">
                  <img style="max-height: 100%; max-width: 100%;" src="../recipedb/static/sect2-2.png" class="responsive-img" alt="">
              </div><br>
            </div>
            <div class="row">
              <div class="col s12" style="border-top:2px solid #ee6e73; padding-top:15px;">
                <h5>Ingredient Search</h5>
              </div>
              <div class="col s12 m6">

                  <blockquote>
                  <p>‘Ingredient’ search facilitates querying and browsing RecipeDB based on the following features: ingredient used, and ingredient not used.
                  </p>
                  </blockquote>
              </div><br>
              <div class="col s12 m6">
                  <img style="max-height: 100%; max-width: 100%;" src="../recipedb/static/sect2-3.png" class="responsive-img" alt="">
              </div><br>
            </div>
            <div class="row">
              <div class="col s12" style="border-top:2px solid #ee6e73; padding-top:15px;">
                <h5> Category Search</h5>
              </div>
              <div class="col s12 m6">

                  <blockquote>
                  <p>‘Category’ search facilitates querying and browsing RecipeDB based on the following features: dietary style included, and dietary style not included.
                  </p>
                  </blockquote>
              </div>
              <div class="col s12 m6">
                  <img style="max-height: 100%; max-width: 100%;" src="../recipedb/static/sect2-4.png" class="responsive-img" alt="">
              </div><br>
            </div>
            <div class="row">

              <div class="col s12" style="border-top:2px solid #ee6e73; padding-top:15px;">
                <h5>Nutrition Search</h5>
              </div>
              <div class="col s12 m6">

                  <blockquote>
                  <p>‘Nutrition’ search facilitates querying and browsing RecipeDB based on the following features: calories of energy, grams of carbohydrates, grams of protein, and grams of fat.
                  </p>
                  </blockquote>
              </div>
              <div class="col s12 m6">
                  <img style="max-height: 100%; max-width: 100%;" src="../recipedb/static/sect2-5.png" class="responsive-img" alt="">
              </div><br>
            </div>
            <div class="row">
              <div class="col s12" style="border-top:2px solid #ee6e73; padding-top:15px;">
                <h5>RecipeDB Search: Results</h5>
              </div>
              <div class="col s12 m6">

                  <blockquote>
                  <p>In response to the query provided, a list of all the recipes that satisfy that query will be shown. The ‘Results’ page displays the query used at the top of the page. In case multiple fileds are used for creating a query, the results will show recipes that satisfy all the conditions. The list displays the following information for each recipe: ‘Recipe Title’, ‘Region’, ‘Country’, ‘Servings’, ‘Calories’, ‘Protein’, ‘Fat’, and a ‘More Info’ button. Clicking on this button will open the recipe information panel for the corresponding recipe. Additionally, clicking on the ‘Recipe Title’ will lead you to the ‘Recipe Page’ and clicking on the ‘Region’ or ‘Country’ will show a search result of all recipes belonging to that area. Additionally, the ‘Results’ page provides a search box at the top right corner to easily sort through the results.
                  </p>
                  </blockquote>
              </div>
              <div class="col s12 m6">
                  <img style="max-height: 100%; max-width: 100%;" src="../recipedb/static/sect2-6.png" class="responsive-img" alt="">
              </div><br>
            </div>
            <div class="row">
              <div class="col s12" style="border-top:2px solid #ee6e73; padding-top:15px;">
                <h5>RecipeDB Search: Recipe Informational Panel</h5>
              </div>
              <div class="col s12 m6">

                  <blockquote>
                  <p>This panel provides the ‘Estimated Nutritional Profile’ and ‘Recipe Elements’ of the recipe. This includes attributes of the recipe such as calories, carbohydrates, protein, and fat content as well as information on the constituent ingredients of the recipe such as ingredient name, quantity, etc.
Further, this panel also provides the ‘Recipe Title’ and a 'Complete Profile’ button. When the user clicks on either of these, they are redirected to the ‘Recipe Page’ and when the user clicks on an ingredient name, they are redirected to the Ingredient Page’.
</p>
                  </blockquote>
              </div>
              <div class="col s12 m6">
                  <img style="max-height: 100%; max-width: 100%;" src="../recipedb/static/sect2-7.png" class="responsive-img" alt="">
              </div><br>
            </div>
            <div class="row">
              <div class="col s12" style="border-top:2px solid #ee6e73; padding-top:15px;">
                <h5>RecipeDB Search: Recipe Page</h5>
              </div>
              <div class="col s12 m6">

                  <blockquote>
                  <p>This page contains the following sections: ‘Estimated Nutritional Profile’, ‘Recipe Overview’, ‘Ingredients’, ‘Cooking Processes and Utensils’, and ‘Instructions’. Additionally, the page also provides a ‘Show More’ button, an image of the recipe, and the recipe’s name.
‘Estimated Nutritional Profile’ contains our calculated estimates of nutrition information such as the number of calories, carbohydrates and protein. When the user clicks on the ‘show more’ button, this section expands to reveal more nutrition information.
‘Recipe Overview’ contains information about the recipe’s cuisine, dietary style, and preparation time as well as a link to RecipeDB’s source for the recipe.
  </p>
                  </blockquote>
              </div>
              <div class="col s12 m6">
                  <img style="max-height: 100%; max-width: 100%;" src="../recipedb/static/sect2-8.png" class="responsive-img" alt="">
              </div>
            </div>
            <div class="row" style="border-top:2px solid #ee6e73; padding-top:15px;">
              <div class="col s12 m6" >

                  <blockquote>
                  <p>‘Ingredients’ contains a list of all the ingredients in the recipe with information about them such as their name, quantity, unit, and state as well as their estimated nutritional profile. When a user clicks on any ingredient name, they are redirected to the ‘Ingredient Page’.</p>
                  </blockquote>
              </div>
              <div class="col s12 m6">
                  <img style="max-height: 100%; max-width: 100%; margin-top:15px;" src="../recipedb/static/sect2-9.png" class="responsive-img" alt="">
              </div>
            </div>
            <div class="row" style="border-top:2px solid #ee6e73; padding-top:15px;">

              <div class="col s12 m6" >

                  <blockquote>
                  <p>‘Cooking Processes and Utensils’ contains a temporal sequence of cooking processes implemented in the recipe as well as the utensils used to carry out those processes.</p>
                  </blockquote>
              </div>
              <div class="col s12 m6">
                  <img style="max-height: 100%; max-width: 100%;" src="../recipedb/static/sect2-10.png" class="responsive-img" alt="">
              </div><br>
            </div>
            <div class="row" style="border-top:2px solid #ee6e73; padding-top:15px;">
              <div class="col s12 m6" >

                  <blockquote>
                  <p>‘Instructions’ contains the instructions to make that recipe.</p>
                  </blockquote>
              </div>
              <div class="col s12 m6">
                  <img style="max-height: 100%; max-width: 100%;" src="../recipedb/static/sect2-11.png" class="responsive-img" alt="">
              </div><br>
            </div>
            <div class="row" style="border-top:2px solid #ee6e73; padding-top:15px;">
              <div class="col s12" >
                <h5>RecipeDB Search: Ingredient Page</h5>
              </div>
              <div class="col s12 m6">

                  <blockquote>
                  <p>This page contains the following sections: ‘Ingredient Overview’, ‘All Forms’, and ‘Recipes’. Additionally, the page also provides an image of the ingredient, and the ingredient’s name.
‘Ingredient Overview’ contains information about the ingredient category and its aliases. It also contains links to the ingredient’s Wikipedia page, 'Flavor Profile’ page from <a href="https://cosylab.iiitd.edu.in/flavordb/">FlavorDB</a>, and ‘Health Impacts’ page from <a href="https://cosylab.iiitd.edu.in/dietrx/index">DietRx</a>. If the user clicks on the ingredient’s category, they will be redirected to the corresponding ‘Category Page’.

  </p>
                  </blockquote>
              </div>
              <div class="col s12 m6">
                  <img style="max-height: 100%; max-width: 100%;" src="../recipedb/static/sect2-12.png" class="responsive-img" alt="">
              </div><br>
            </div>
            <div class="row" style="border-top:2px solid #ee6e73; padding-top:15px;">
              <div class="col s12 m6">

                  <blockquote>
                  <p>‘All Forms’ contains a list of all the different forms in which this ingredient exists (broiled, peeled, roasted, etc.), their corresponding nutritional information, number of occurrences across all recipes, and a link to their USDA Nutrient Database page which contains their full nutritional profile.

  </p>
                  </blockquote>
              </div>
              <div class="col s12 m6">
                  <img style="max-height: 100%; max-width: 100%;" src="../recipedb/static/sect2-13.png" class="responsive-img" alt="">
              </div><br>
            </div>
            <div class="row" style="border-top:2px solid #ee6e73; padding-top:15px;">
              <div class="col s12 m6">

                  <blockquote>
                  <p>‘Recipes’ contains a list of recipes that use this ingredient along with information such as the recipe’s name, state of the ingredient in the recipe, region and Country of origin of the recipe, dietary style of the recipe, and the source of the recipe. If the user clicks on any recipe name, they will be redirected to the ‘Recipe Page’ of that recipe.</p>
                  </blockquote>
              </div>
              <div class="col s12 m6">
                  <img style="max-height: 100%; max-width: 100%;" src="../recipedb/static/sect2-14.png" class="responsive-img" alt="">
              </div><br>
            </div>
            <div class="row" style="border-top:2px solid #ee6e73; padding-top:15px;">
              <div class="col s12" >
                <h5>RecipeDB Search: Category Page</h5>
              </div>
              <div class="col s12 m6">

                  <blockquote>
                  <p>This page contains the following sections: A carrousel with the 5 most frequently used ingredients belonging to the category, a list of all the ingredients within the category, and a list of all recipes that contain one or more of the 5 most frequently used ingredients from the category. Additionally, the page also provides an image of the category, and the category’s name.
The carrousel is a scrollable list that shows the name of image of the 5 most frequently used ingredients belonging to the category. When the user clicks on an ingredient they are redirected to the corresponding ‘Ingredient Page’.
The list of ingredients contains the names of all ingredients belonging to this category. When the user clicks on an ingredient name they are redirected to the corresponding ‘Ingredient Page’.
</p>
                  </blockquote>
              </div>
              <div class="col s12 m6">
                  <img style="max-height: 100%; max-width: 100%;" src="../recipedb/static/sect2-15.png" class="responsive-img" alt="">
              </div><br>
            </div>
            <div class="row" style="border-top:2px solid #ee6e73; padding-top:15px;">
              <div class="col s12 m6">

                  <blockquote>
                  <p>The list of recipes contains the recipe name, region and Country of origin, and the source of the recipe.</p>
                  </blockquote>
              </div>
              <div class="col s12 m6">
                  <img style="max-height: 100%; max-width: 100%;" src="../recipedb/static/sect2-16.png" class="responsive-img" alt="">
              </div><br>
            </div>
          </div>
              <div id="test2" class="col s12">
                <div class="row"><div class="col s12" style="border-top:2px solid #ee6e73; padding-top:15px;">
                  <h5>Visual Search</h5>
                </div>
                <div class="col s12 m6">

                    <blockquote>
                    <p>Visual search represents a graph of the relationship between ingredients and ingredient categories. The categories are represented by a column of rectangles in the middle of the graph while the ingredients are listed along the circumference of semi-circles on either side of the categories. To observe the pattern of relation for any entity in the graph, the user can hover over it.
As our database of ingredients is incredibly dense, this network would not be meaningfully usable if it were to include all the ingredients. To address this issue, only the 6 most frequently used ingredients from each category were chosen to be included in the network.

                    </p>
                    </blockquote>
                </div><br>
                <div class="col s12 m6">
                    <img style="max-height: 100%; max-width: 100%;" src="../recipedb/static/sect3-1.png" class="responsive-img" alt="">
                </div><br>
              </div>

              <div class="row" style="border-top:2px solid #ee6e73; padding-top:15px;">
              <div class="col s12 m6">

                  <blockquote>
                  <p>Clicking on any ingredient from the main network (or from any category’s network) reveals the ingredient’s own network. This network shows the ingredient at the center in a bubble with its category as well as the other ingredients from that category surrounding the bubble’s periphery. Clicking on the bubble redirects the user to the ingredient’s page. Clicking on any of the entities surrounding the periphery of the bubble reveals their network.</p>
                  </blockquote>
              </div><br>
              <div class="col s12 m6">
                  <img style="max-height: 100%; max-width: 100%;" src="../recipedb/static/sect3-2.png" class="responsive-img" alt="">
              </div><br>
            </div>

            <div class="row" style="border-top:2px solid #ee6e73; padding-top:15px;">
            <div class="col s12 m6">

                <blockquote>
                <p>Clicking on any category from the main network reveals the category’s own network with the top 6 most frequently used ingredients from that category occurring along its periphery. Clicking on the category’s bubble redirects the user to its ‘Category’ page while clicking on any of the ingredients reveals the ingredient’s network.
                </p>
                </blockquote>
            </div><br>
            <div class="col s12 m6">
                <img style="max-height: 100%; max-width: 100%;" src="../recipedb/static/sect3-3.png" class="responsive-img" alt="">
            </div><br>
          </div>

              </div>
              <div id="test4" class="col s12">
                <div class="row"><div class="col s12" style="border-top:2px solid #ee6e73; padding-top:15px;">
                  <h5>	Advanced Search</h5>
                </div>
                <div class="col s12 m6">

                    <blockquote>
                    <p>Advanced Search is provided to enable users who would like to probe RecipeDB by viewing the data through refined parameters. The modality of Advanced Search is like that of Recipe Search which allows filtering RecipeDB data by conjunction of parameters. Advanced search combines parameters from all the searches under Recipe Search (i.e. cuisine, ingredient, and nutrition search) to facilitate extremely tailored queries.
                    </p>
                    </blockquote>
                </div><br>
                <div class="col s12 m6">
                    <img style="max-height: 100%; max-width: 100%;" src="../recipedb/static/sect4-1.png" class="responsive-img" alt="">
                </div><br>
              </div>
              </div>
              <div id="test5" class="col s12">
                <div class="row"><div class="col s12" style="border-top:2px solid #ee6e73; padding-top:15px;">
                  <h5>  RecipeDB Statistics</h5>
                </div>
                <div class="col s12 m6">

                    <blockquote>
                    <p>‘RecipeDB Statistics’ are provided on the landing page of RecipeDB.</p>
                    </blockquote>
                </div><br></div>
                <div class="row"><div class="col s12" style="border-top:2px solid #ee6e73; padding-top:15px;">
                  <h5>RecipeDB Statistics: Recipes</h5>
                </div>
                <div class="col s12 m6">

                    <blockquote>
                    <p>The ‘Recipes’ tab provides a geographical plot of the number of recipes that belong to each of the cuisines in the database. Each area on the map is color-coded in accordance to the cuisine that influences it. On hovering over a Country, an information box will appear next to it containing its name, the cuisine that influences it, and the number of recipes in that cuisine.</p>
                    </blockquote>
                </div><br>
                <div class="col s12 m6">
                    <img style="max-height: 100%; max-width: 100%;" src="../recipedb/static/sect5-10.png" class="responsive-img" alt="">
                </div><br>
              </div>
              <div class="row"><div class="col s12" style="border-top:2px solid #ee6e73; padding-top:15px;">
                <h5>RecipeDB Statistics: Ingredient</h5>
              </div>
              <div class="col s12 m6">

                  <blockquote>
                  <p>The ‘Ingredient’ tab provides a pie chart which shows the percentage of ingredients from the database that exist in each ingredient category. Hovering over the chart pops up the name of the ingredient category as well as the percentage of ingredients in it.
                  </p></blockquote>
              </div><br>
              <div class="col s12 m6">
                  <img style="max-height: 100%; max-width: 100%;" src="../recipedb/static/ingre.png" class="responsive-img" alt="">
              </div><br>
            </div>
            <!-- <div class="row"><div class="col s12" style="border-top:2px solid #ee6e73; padding-top:15px;">
              <h5>RecipeDB Statistics: Nutrition</h5>
            </div>
            <div class="col s12 m6">

                <blockquote>
                <p>The 'Nutrition’ tab provides a bar graph which shows the average number of calories across each cuisine. Hovering over a bar reveals the exact number of average calories for the respective cuisine.</p></blockquote>
            </div><br>
            <div class="col s12 m6">
                <img style="max-height: 100%; max-width: 100%;" src="../recipedb/static/sect5-3.png" class="responsive-img" alt="">
            </div><br>
          </div> -->
          <div class="row"><div class="col s12" style="border-top:2px solid #ee6e73; padding-top:15px;">
            <h5>RecipeDB Statistics: Nutrition</h5>
          </div>
          <div class="col s12 m6">

              <blockquote>
              <p>The ‘Nutrition’ tab provides a geographical plot of the average number of calories of each of the cuisines in the database. Each area on the map is color-coded in accordance to the cuisine that influences it. On hovering over a Country, an information box will appear next to it containing its name, the cuisine that influences it, and the average number of calories of that cuisine.</p></blockquote>
          </div><br>
          <div class="col s12 m6">
              <img style="max-height: 100%; max-width: 100%;" src="../recipedb/static/sect5-11.png" class="responsive-img" alt="">
          </div><br>
        </div>
        <div class="row"><div class="col s12" style="border-top:2px solid #ee6e73; padding-top:15px;">
          <h5>RecipeDB Statistics: Categories</h5>
        </div>
        <div class="col s12 m6">

            <blockquote>
            <p>The ‘Categories’ tab provides a heat map of the cuisine’s ingredients broken down into different categories by percentage. On hovering over a block, an information box will appear next to it containing the category name, the cuisine and the percentage of ingredients of the cuisine belonging to that category. </p></blockquote>
        </div><br>
        <div class="col s12 m6">
            <img style="max-height: 100%; max-width: 100%;" src="../recipedb/static/sect5-19.png" class="responsive-img" alt="">
        </div><br>
      </div>
      <div class="row"><div class="col s12" style="border-top:2px solid #ee6e73; padding-top:15px;">
        <h5>RecipeDB Statistics: Processes</h5>
      </div>
      <div class="col s12 m6">

          <blockquote>
          <p>The ‘Process’ tab provides a pie chat which shows the percentage of recipes from the database across which a process uniquely exists. Hovering over the chart pops up the name of the process as well as the percentage of times it uniquely occurs across all the recipes. </p></blockquote>
      </div><br>
      <div class="col s12 m6">
          <img style="max-height: 100%; max-width: 100%;" src="../recipedb/static/proc.png" class="responsive-img" alt="">
      </div><br>
    </div>
      <div class="row"><div class="col s12" style="border-top:2px solid #ee6e73; padding-top:15px;">
        <h5>RecipeDB Statistics: Utensils</h5>
      </div>
      <div class="col s12 m6">

          <blockquote>
          <p>The ‘Utensils’ tab provides a pie chat which shows the number of times a utensil is used across all recipes in the database as well as the percentage of times this utensil is used out of all the utensils. Hovering over the chart pops up these statistics as well as the name of the utensil. </p></blockquote>
      </div><br>
      <div class="col s12 m6">
          <img style="max-height: 100%; max-width: 100%;" src="../recipedb/static/uten.png" class="responsive-img" alt="">
      </div><br>
    </div>
              </div>
              </div>
          </div>

          <script>
            document.addEventListener('DOMContentLoaded', function() {
              var elems = document.querySelectorAll('.collapsible');
              var instances = M.Collapsible.init(elems, {});
            });

            document.addEventListener('DOMContentLoaded', function() {
              var elems = document.querySelectorAll('.tabs');
              var instance = M.Tabs.init(elems, {});
            });


            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.dropdown-trigger');
                var instances = M.Dropdown.init(elems, {});
                var elems = document.querySelectorAll('.carousel');
                var instance = M.Carousel.init(elems,{
                  fullWidth: true
                });

              });





          </script>
          <footer class="primary-footer">
          	<div class="copyright-wrap">
          		<div class="panel">
          			<div class="content">
          				<p><img alt="" src="../recipedb/static/iiitd.png"></p>
          				<p>Copyright © 2019 &nbsp; All rights reserved.<br><br>
          					<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png"></a><br>This work is licensed under a <a style="font-weight: bold;" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.
          				</p>
                                    <p style="text-align: center;">All material on this website is a product of research and is provided for your information only and may not be construed as medical advice or instruction. <br> No action or inaction should be taken based solely on the contents of this information; instead, readers should consult appropriate health professionals on any matter relating to their health and well-being.</p>

          				<p><a href="https://iiitd.ac.in/" target="_blank"><strong>Indraprastha Institute of Information Technology Delhi (IIIT-Delhi)</strong></a> | <a href="http://faculty.iiitd.ac.in/~bagler/" target="_blank">Prof. Ganesh Bagler</a></p>
          				<p><a target="_blank" href="https://www.facebook.com/ganesh.bagler"></a>
          					<a target="_blank" href="https://twitter.com/gansbags"></a>
          					<a target="_blank" href="https://www.linkedin.com/in/ganeshbagler"></a>
          				</p>

          			</div>
          		</div>
          	</div>
          </footer>
          {% endblock %}
      </body>
      </html>
