<!doctype html>
<html>
   <head>
     <style type="text/css">
       primary-footer{margin-top:10px;}
       .footer-wrap{ background:#1a202c;padding-top:50px; margin-top:50px; padding-bottom:50px;}
       .footer .panel{float:left; background:none; width:300px;}
       .footer .panel .title h1{ color:#ffffff;}
       .footer .panel .content{padding-top:25px;}
       .footer .panel .content p{ color:#435059;}
       .footer .panel .content .button a{ margin-top:30px; background:#d13f31;}
       .footer .panel .content .button a:hover{ margin-top:30px; background:#1f7872;}
       .footer .panel .content ul li{ list-style:url(/flavordb/static/images/arrow.png) inside;}
       .footer .panel .content ul li a{text-decoration:none; color:#435059;}
       .footer .panel .content ul li a:hover{color:#d13f31;}
       .copyright-wrap{ background:#1f7872; overflow:hidden; padding:40px 0px 40px 0px;}
       .copyright-wrap .panel{margin:0 auto; background:none;}
       .copyright-wrap .panel .content p{ color:#ffffff; text-align:center; font-size:12px;}
       .copyright-wrap .panel .content p a{ text-decoration:none; color:#ffffff;}
       .copyright-wrap .panel .content p a:hover{ color:#1a202c;}
       #more {display: none;}


     </style>
   </head>
   <body>
      {% extends 'nav.html' %}
      {% block content %}


        <div class = "container">
          <ul class="collection">
            <li class="collection-item">
                <div class="row" style="margin-bottom: 0;">
            <div class="col s12 m12">
              <!--<div class="card " style="background-color:#ee6e73">-->
                <div class="card-content">
                  <center><b><h4 style="font-family: Helvetica; color:#ee6e73; text-transform: capitalize;">{{generic_ingredient_info["Ing_name"]}}</h4></b></center>
                <!--</div>-->
              </div>
            </div>
          </div>
            </li>
            <li>
                <div class="row" style="margin-top:30px;">
            <div class="col s12 m4 center" style="padding-top:20px">
              <img class="responsive-img" style="max-height:300px;" src="{{generic_ingredient_info["WikiImage"] if generic_ingredient_info["WikiImage"] else "/recipedb/static/photonotyet.jpg"}}"  alt="">

              </div>
            <div class="col s12 m8">
              <div style="overflow: auto; width:100%; max-height:250px;">
                <div class="center">
                  <a class='dropdown-trigger btn' href='#' data-target='dropdown1' style=" background: white; color: #ee6e73; border-bottom: 2px solid #ee6e73; min-height: 40px; height: auto;">Showing Estimated Nutritional Profile for Apple &nbsp <i class="fa fa-caret-down"></i></a>
                </div>

                  <!-- Dropdown Structure -->
                  <ul id='dropdown1' class='dropdown-content'>
                    <li><a href="#!">one</a></li>
                    <li><a href="#!">two</a></li>
                    <li class="divider" tabindex="-1"></li>
                    <li><a href="#!">three</a></li>
                    <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
                    <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
                  </ul>

                <table class="highlight striped" >
                  <thead>

                    <tr>
                      <th>Nutrient</th>
                      <th>Quantity</th>
                    </tr>
                  </thead>


                      <tr>
                      <td><strong>a</strong></td>
                      <td>b</td>
                    </tr>


                </table>
              </div>
              <button class="btn btn-small" onclick="myFunction()" id="myBtn" style="background: white; color: #ee6e73; border-bottom: 2px solid #ee6e73; min-height: 40px; height: auto; margin-top: 5px">Show More</button>
              </div>

              </div>
            </li>
            <li class="collection-item">
                <div class="row" style="margin-top:50px; border-top: 1px solid black;">
             <div class="row">
            <div class="col s12">
              <ul class="tabs">
                <li class="tab col s4"><a class="active" href="#ingredient_info">Ingredient Overview</a></li>
                <li class="tab col s4"><a href="#form_info">All Forms</a></li>
                <li class="tab col s4"><a href="#recipe_info">Recipes</a></li>
                <!--<li class="tab col s3"><a href="#steps">Steps</a></li>-->
              </ul>
            </div>
            <div id="ingredient_info" class="col s12">
                <ul class="collection">
                <li class="collection-item avatar">
                  <i class="fa fa-list-alt circle" style="background-color: #ee6e73;" aria-hidden="true"></i>
                  <!--<img src="images/yuna.jpg" alt="" class="circle">-->
                  <span class="title"><strong>Ingredient Category</strong></span>
                  <p>{{generic_ingredient_info["Category-F-DB"]}}
                  </p>
                </li>
                    {% if generic_ingredient_info["aliases"] and generic_ingredient_info["aliases"] != "" %}
                <li class="collection-item avatar">
                  <i class="fa fa-cutlery circle" style="background-color: #ee6e73;" aria-hidden="true"></i>
                  <!--<i class="material-icons circle">folder</i>-->

                  <span class="title"><strong>Aliases</strong></span>
                    <p>{{generic_ingredient_info["aliases"]}}</p>
                </li>
                    {% endif %}
                <li class="collection-item avatar">
                  <i class="fa fa-wikipedia-w circle" style="background-color: #ee6e73;"></i>
                  <span class="title" style="display:block; margin-top:1%;"><strong><a href="{{generic_ingredient_info["Wikilink"]}}" target="_blank">Wikipedia Link to <span style="text-transform: capitalize">{{generic_ingredient_info["Ing_name"].strip()}}</span> <i class="fa fa-external-link"></i></a></strong></span>
                </li>
                <li class="collection-item avatar">
                  <i class="fa fa-info circle" style="background-color: #ee6e73;"></i>
                  <span class="title" style="display:block; margin-top:1%;"><strong><a href="{{generic_ingredient_info["Wikilink"]}}" target="_blank">Flavor Profile of <span style="text-transform: capitalize">{{generic_ingredient_info["Ing_name"].strip()}}</span> FlavorDB <i class="fa fa-external-link"></i></a></strong></span>
                </li>
                <li class="collection-item avatar">
                  <i class="fa fa-info circle" style="background-color: #ee6e73;"></i>

                  <span class="title" style="display:block; margin-top:1%;"><strong><a href="{{generic_ingredient_info["Wikilink"]}}" target="_blank">Health Impacts of <span style="text-transform: capitalize">{{generic_ingredient_info["Ing_name"].strip()}}</span> from DietRx <i class="fa fa-external-link"></i></a></strong></span>
                </li>
              </ul>
            </div>
            <div id="recipe_info" class="col s12" style="max-height:500px; overflow: auto;">
              <div class="row">
                <table id="recipes_table" class="table striped" style="padding-left: 40px;">
                <thead>
                  <tr>
                    <th>Recipe Title</th>
                    <th>Ingredient form</th>
                    <th>Region</th>
                    <th>Sub Region</th>
                    <th>Dietary Style</th>
                    <th>Source</th>
                  </tr>
                </thead>
                <tbody style="">
                {% for recipe in recipes_info %}
                    <tr>
                        <td><a href="/recipedb/search_recipeInfo/{{recipe["Recipe_id"]}}">{{ recipe["Recipe_title"] }}</a></td>
                        <td>{{ recipe["state"] + recipe["ingredient_name"].strip() }}</td>
                        <td>{{ recipe["Region"] }}</td>
                        <td>{{ recipe["Sub_region"] }}</td>
                        <td>Unavailable</td>
                        <td>{{ recipe["Source"] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
              </table>

              </div>

            </div>


              <!--<br><br>-->
              <div id="form_info" class="col s12" style="max-height:500px; overflow: auto;">
                <table id="myTable" class="table striped" style="padding-left: 40px;">
                <thead>
                  <tr>
                    <th>USDA Description</th>
                    <th>Form</th>
                    <th>Occurences</th>
                    <th>Energy (kcal)</th>
                    <th>Carbohydrates</th>
                    <th>Protein (g)</th>
                    <th>Total Lipid (Fat) (g)</th>
                  </tr>
                </thead>
                <tbody style="">
                {% for form in forms_info %}
                    <tr>
                        <td>
                            {{ form["ndb_id"] }}
                        </td>
                        <td>
                            {{ (form["state"].strip() + " " + form["ingredient_name"].strip()).strip() }}
                        </td>
                        <td>
                            {{ form["ndb_id"] }}
                        </td>
                        <td>
                            {{ form["ndb_id"] }}
                        </td>
                        <td>
                            {{ form["ndb_id"] }}
                        </td>
                        <td>
                            {{ form["ndb_id"] }}
                        </td>
                        <td>
                            {{ form["ndb_id"] }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
              </table>

              </div>
              </div>

              </div>
            </li>
          </ul>


          </div>
          <script>
            document.addEventListener('DOMContentLoaded', function() {
              var elems = document.querySelectorAll('.tabs');
              elems.forEach(elem => {
                console.log(elem)
                M.Tabs.init(elem, {})
              })

                elems = document.querySelectorAll('.dropdown-trigger');
                console.log(elems);
                var instances = M.Dropdown.init(elems, {});
              // var instances = M.Tabs.init(elems, {});
            });


            function myFunction() {
              var a = true;
              [...document.getElementsByClassName("extraVals")].forEach(el => {
                if (el.style.display=="none") {
                  el.style.display="table-row";
                  a = false;
                }
                else el.style.display="none";
              })
              var btn = document.getElementById("myBtn")
              if (a == false) btn.textContent = "Show Less";
              else btn.textContent = "Show More"
            }
          </script>
          <footer class="primary-footer">
          	<div class="copyright-wrap">
          		<div class="panel">
          			<div class="content">
          				<p><img alt="" src="/flavordb/static/images/iiitd.png"></p>
          				<p>Copyright © 2019 &nbsp; All rights reserved.<br><br>
          					<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png"></a><br>This work is licensed under a <a style="font-weight: bold;" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.
          				</p>
          				<p><a href="https://iiitd.ac.in/" target="_blank"><strong>Indraprastha Institute of Information Technology Delhi (IIIT-Delhi)</strong></a> | <a href="http://faculty.iiitd.ac.in/~bagler/" target="_blank">Dr. Ganesh Bagler</a></p>
          				<p><a target="_blank" href="https://www.facebook.com/ganesh.bagler"></a>
          					<a target="_blank" href="https://twitter.com/gansbags"></a>
          					<a target="_blank" href="https://www.linkedin.com/in/ganeshbagler"></a>
          				</p>

          			</div>
          		</div>
          	</div>
          </footer>
          {% endblock %}
      </body>
      </html>
