<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>RecipeDB</title>

		<!-- Materialize CSS -->
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    	<!-- Materialize JavaScript -->
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    	<!-- Materialize Icons -->
    	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    	<!-- Google Font -->
    	<link href="https://fonts.googleapis.com/css?family=Istok+Web&display=swap" rel="stylesheet">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>

		<script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
		<script src="//code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
		<link href="//code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
		<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
      	<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


      	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">



		<style type="text/css">
			#cal_stats{
				font-size: 15px;
				color: white;
			}
			#ing_stats{
				font-size: 15px;
				color: white;
			}

			.ui-autocomplete {
	            max-height: 200px;
	            overflow-y: auto;
	            overflow-x: hidden;
	            padding-right: 20px;
        	}
		</style>
		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function() {
            	var sidenavElems = document.querySelectorAll('.sidenav');
            	var sidenavInstances = M.Sidenav.init(sidenavElems, {
    				inDuration: 400,
					outDuration: 400,
            	});
          	});

			function split( val ) {
      			return val.split( /,\s*/ );
    		}
    		function extractLast( term ) {
      			return split( term ).pop();
    		}


			$(function() {
			    $("#autocomplete_recipe").autocomplete({
			        source:function(request, response) {
			            $.getJSON("{{url_for('autocomplete_recipe')}}",{
			                q: request.term,
			            }, function(data) {
			                response(data.matching_results);
			            });
			        },
			        minLength: 1,
			        select: function(event, ui) {
			            console.log(ui.item.value);
			        }
			    });

			    $("#autocomplete_cuisine").autocomplete({
			        source:function(request, response) {
			            $.getJSON("{{url_for('autocomplete_cuisine')}}",{
			                q: request.term,
			            }, function(data) {
			                response(data.matching_results);
			            });
			        },
			        minLength: 0,
			        select: function(event, ui) {
			            console.log(ui.item.value);
			        }
			    }).blur(function(){
    				$("#autocomplete_cuisine").autocomplete('enable');
				})
				.focus(function () {
				    $("#autocomplete_cuisine").autocomplete('search', '');
				});

			    $("#autocomplete_region").autocomplete({
			        source:function(request, response) {
			            $.getJSON("{{url_for('autocomplete_region')}}",{
			                q: request.term,
			            }, function(data) {
			                response(data.matching_results);
			            });
			        },
			        minLength: 0,
			        select: function(event, ui) {
			            console.log(ui.item.value);
			        }
			    }).blur(function(){
    				$("#autocomplete_region").autocomplete('enable');
				})
				.focus(function () {
				    $("#autocomplete_region").autocomplete('search', '');
				});;

			    // $("#autocomplete_ingredient").autocomplete({
			    // 	source:function(request, response) {
			    // 		$.getJSON("{{url_for('autocomplete_ingredient')}}",{
			    // 			q: extractLast( request.term),
			    // 		}, function(data) {
			    // 			response(data.matching_results);
			    // 		});
			    // 	},
			    // 	minLength: 1,
			    // 	select: function(event, ui) {
			    // 		var terms = split( this.value );
          		// 		// remove the current input
          		// 		terms.pop();
          		// 		// add the selected item
          		// 		terms.push( ui.item.value );
          		// 		// add placeholder to get the comma-and-space at the end
          		// 		terms.push( "" );
          		// 		this.value = terms.join( ", " );
          		// 		console.log(ui.item.value);
          		// 		return false;
			    // 	}
			    // });
				//
				// 	$("#autocomplete_noningredient").autocomplete({
			    // 	source:function(request, response) {
			    // 		$.getJSON("{{url_for('autocomplete_noningredient')}}",{
			    // 			q: extractLast( request.term),
			    // 		}, function(data) {
			    // 			response(data.matching_results);
			    // 		});
			    // 	},
			    // 	minLength: 1,
			    // 	select: function(event, ui) {
			    // 		var terms = split( this.value );
          		// 		// remove the current input
          		// 		terms.pop();
          		// 		// add the selected item
          		// 		terms.push( ui.item.value );
          		// 		// add placeholder to get the comma-and-space at the end
          		// 		terms.push( "" );
          		// 		this.value = terms.join( ", " );
          		// 		console.log(ui.item.value);
          		// 		return false;
			    // 	}
			    // });

			})

		</script>
	</head>

	<body>
		<div class="navbar-fixed">
			<nav class="teal darken-4">
				<div class="row container">
					<div class="col s12">
						<div class="nav-wrapper">
							<a href="/recipedb" style="font-size: 30px">RecipeDB</a>
							<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
							<ul class="right hide-on-med-and-down">
								<li><a href="/recipedb">Home</a></li>
								<li><a href="/recipedb/howto">How To Use</a></li>
								<li><a href="/recipedb/FAQ">FAQs</a></li>
								<li><a href="/recipedb/contactUs">Contact Us</a></li>
								<li><a href="/">CoSyLab</a></li>
							</ul>
						</div>
					</div>
				</div>
			</nav>
		</div>
		<ul class="sidenav" id="mobile-demo">
			<li><a href="/recipedb">Home</a></li>
			<li><a href="/recipedb/howto">How To Use</a></li>
			<li><a href="/recipedb/FAQ">FAQs</a></li>
			<li><a href="/recipedb/contactUs">Contact Us</a></li>
			<li><a href="/">CoSyLab</a></li>
		</ul>
		{% block content %}{% endblock %}
	</body>
</html>